# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcscmblueprint
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.swp
.vscode/
.cursor/
